<div class="curriculum-finder-list">
    <h4>Select Curriculum</h4>
    <form class="form" [formGroup]="curriculumFinderForm" novalidate>
        <div class="form-input">
            <input type="text" (keyup)="search()" formControlName="name" placeholder="Search Curriculums"/>
        </div>
    </form>
    <div *ngIf="curriculums.length > 0" class="curriculum-item">
        <span class="curriculum-name add bold">Select</span>
        <span class="curriculum-name bold clickable" [ngClass]="{'active': sortField == 'name', 'ascending': ascendingOrder}" (click)="sortBy('name')">Name</span>
        <span class="curriculum-target bold clickable" [ngClass]="{'active': sortField == 'curriculumCategory', 'ascending': ascendingOrder}" (click)="sortBy('curriculumCategory')">Curriculum Category</span>
    </div>
    <div class="curriculum-item" *ngFor="let curriculum of curriculums">
        <input type="checkbox" (click)="add(curriculum)" class="curriculum-add" />
        <span class="curriculum-name">{{curriculum.name}}</span>
        <span class="curriculum-target">{{curriculum.curriculumCategory?.name}}</span>
    </div>
</div>

<!-- <section class="form-module">
    <form class="form" [formGroup]="curriculumForm" (ngSubmit)="curriculum(curriculumForm.value)" novalidate>
        <div class="form-input auto-complete" [ngClass]="{'error':invalidControl(curriculumForm.controls.curriculum)}">
            <label>Curriculum<span *ngIf="invalidControl(curriculumForm.controls.curriculum)">Curriculum Required</span></label>
            <input type="hidden" formControlName="curriculum"/>
            <div class="autocomplete-container">
                <input type="text" formControlName="keyword" (keyup)="search()" placeholder="Search"/>
                <div class="autocomplete-drop-down" *ngIf="searchResults && searchResults.length > 0">
                    <div class="drop-down-item" (click)="select(result)" *ngFor="let result of searchResults">
                        {{result.name}}
                    </div>
                </div>
            </div>
        </div> 
        <div class="submit-input">
            <input type="submit" value="Start Appointment &#8594;" class="btn btn-primary" />
        </div>
    </form>
</section>  -->
<select-curriculum-list *ngIf="existingClientCurriculums" [clientCurriculums]="existingClientCurriculums"></select-curriculum-list>
