<h4>Create Curriculum</h4>
<section class="form-module curriculum-form">
    <form class="form" [formGroup]="curriculumForm" (ngSubmit)="curriculum(curriculumForm.value)" novalidate>
        <div class="form-input" [ngClass]="{'error':invalidControl(curriculumForm.controls.name)}">
            <label>Name<span *ngIf="invalidControl(curriculumForm.controls.name)">Name Required</span></label>
            <input type="text" formControlName="name" placeholder="Curriculum Name" required/>
        </div> 
        <!-- <div class="form-input auto-complete" [ngClass]="{'error':invalidControl(curriculumForm.controls.skills)}">
            <label>Skills<span *ngIf="invalidControl(curriculumForm.controls.skills)">Skills Required</span></label>
            <input type="hidden" formControlName="skills"/>
            <div class="autocomplete-container">
                <input type="text" formControlName="keyword" (keyup)="search()" placeholder="Search"/>
                <div class="autocomplete-drop-down" *ngIf="searchResults && searchResults.length > 0">
                    <div class="drop-down-item" (click)="selectSkill(result)" *ngFor="let result of searchResults">
                        {{result.targetName}}
                    </div>
                </div>
            </div>
            <div class="autocomplete-selections">
                <div class="autocomplete-item" *ngFor="let item of selectedItems">
                    {{item.targetName}}
                    <i class="close" (click)="removeSkill(item)">&#10006;</i>
                </div>
            </div>
        </div> -->
        <div class="submit-input">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</section>
