<div class="form">
    <div class="counter">
        <span class="timer">
            {{timer?.countdownValue | clockFormat}}                 
        </span>
        <button class="btn btn-primary" *ngIf="timer?.stopped" (click)="start()">Start</button>
        <button class="btn btn-primary" *ngIf="!timer?.stopped" (click)="stop()">Stop</button>
        <button class="btn btn-primary" *ngIf="timer?.stopped" (click)="clear()">Clear</button>

        <span class="task-complete" (click)="toggle()" *ngIf="!timer?.stopped" [ngClass]="{completed: completed}"></span>            

    </div>
</div>
<div class="skill-details">
    <span class="skill-trial" >
        {{trialNumber}}
    </span>
    <span class="skill-goals" *ngIf="skill.goalName">
        {{skill.goalName}}
    </span>
    <span class="skill-interval" *ngIf="skill.interval">
            {{skill.interval}} seconds
    </span>
    <span class="skill-stimulus" *ngIf="skill.stimulus">
        {{skill.stimulus}}
    </span>
    <span class="skill-instructions" *ngIf="skill.targetInstructions">
        {{skill.targetInstructions}}
    </span>
</div>
<div class="submit-input">
    <button class="btn btn-primary" (click)="skillList()">
        Back To List
    </button>
    <button class="btn btn-primary" [disabled]="!canSave()" (click)="save()">
        Save
    </button>
</div>
