<div *ngIf="!user">
    <h2>Reset Password</h2>
    <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)" novalidate>
        <div class="form-input" [ngClass]="{'error':invalidControl(resetPasswordForm.controls.email)}">
            <label>Email: <span *ngIf="invalidControl(resetPasswordForm.controls.email)">Invalid Email</span></label>
            <input type="text" formControlName="email" placeholder="Email"/>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
