<h2>Log In</h2>
<form class="form" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
    <div class="form-input" [ngClass]="{'error':invalidControl(loginForm.controls.email)}">
        <label>Email: <span *ngIf="invalidControl(loginForm.controls.email)">Invalid Email</span></label>
        <input type="text" formControlName="email" placeholder="Email"/>
    </div>
    <div class="form-input" [ngClass]="{'error':invalidControl(loginForm.controls.password)}">
        <label>Password: <span *ngIf="invalidControl(loginForm.controls.password)">Password Required</span></label>
        <input type="password" formControlName="password" placeholder="Password"/>
    </div>
    <input type="submit" class="btn btn-primary" />
    <div class="rich-text">
        <p>
            Not a member? <a (click)="goToSignup()">Sign up!</a>
        </p>
    </div>
</form>
