<header class="header">
	<nav [ngClass]="{'menu-open':showMenu || showSignIn || showLogIn || showForgotPassword}">
		<div class="menu-toggle" (click)="toggleMenu()">
			<span class="menu-button" [ngClass]="{'close':showMenu || showSignIn || showLogIn || showForgotPassword}"></span>
		</div>
		<div class="profile-toggle" (click)="toggleLogIn()">
			<span class="icon icon-user"></span>
		</div>
		<a href="/" class="logo">
			<h1>
				<i class="icon icon-profile"></i>
				Practice Pal
			</h1>
		</a>
	</nav>
	<div class="flyout-menu" [ngClass]="{'show':showMenu}">
		<div class="flyout-content">
			<ul>
				<li>
					<a href="/test" title="some title">Link 1</a>
				</li>
				<li>
					<a href="/test" title="some title">Link 2</a>
				</li>
				<li>
					<a href="/test" title="some title">Link 3</a>
				</li>
				<li>
					<a href="/test" title="some title">Link 4</a>
				</li>
				<li>
					<a href="/test" title="some title">Link 5</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="flyout-menu green-background" [ngClass]="{'show': showLogIn || showSignIn || showForgotPassword,'login-form':showLogIn,'signup-form':showSignIn, 'reset-password': showForgotPassword}">
		<div class="flyout-content">
			<login-form (showSignUp)="showSignUp($event)" (showForgot)="showForgot($event)" [user]="user" (closeLogin)="closeLogin($event)"></login-form>
			<signup-form (closeSignup)="closeSignup($event)"></signup-form>
			<forgot-password (closeForgot)="closeForgot($event)"></forgot-password>
		</div>
	</div>
</header>
