<main class="edit-client">
    <section class="detail-hero" >
        <div class="hero-tint">
        </div>
        <div class="hero-text-content">
            <h1>Reset Password</h1>
        </div>
    </section>
    <section class="form-success form-module">
        <p *ngIf="showErrors">The passwords provided didn't match or did not meet password requirements</p>
        <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)" novalidate>
            <div class="form-input" [ngClass]="{'error':invalidControl(resetPasswordForm.controls.password)}">
                <label>New Password: <span *ngIf="invalidControl(resetPasswordForm.controls.password)">Password must be 7 characters long</span></label>
                <input type="password" formControlName="password" placeholder="Password"/>
            </div>
            <div class="form-input" [ngClass]="{'error':invalidControl(resetPasswordForm.controls.confirmPassword)}">
                <label>Confirm Password: <span *ngIf="passwordMismatch">Passwords must match</span></label>
                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"/>
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </section>
</main>


