<main class="home-page">
    <section class="home-hero" style="background-image:url('/images/home-img.jpg')">
        <div class="hero-tint">
        </div>
        <div class="hero-text-content">
            <div class="rich-text">
                Here's a tagline to introduce the product and what it's used for.
            </div>
        </div>
    </section>
    <section class="dark-background home-section two-column">
        <div class="column rich-text">
            <h2>Invoices and Reports in one place</h2>
            <p>
                Sit commodo nonumes ex, legere copiosae assueverit ius ne. Populo aliquam deterruisset qui ad. Cu mel reque blandit liberavisse, te sea diam ponderum nominati, ut sed dicam eruditi prodesset. Discere consectetuer ne nec, ad harum lobortis salutandi duo. Nec at quis dicant quidam. Ut has case illum, ignota possim audiam mel no, est solet phaedrum in.
            </p>
        </div>
        <div class="column">
            <img src="/images/creative-desk-pens-school.jpg" class="img-full"/>
        </div>
    </section>
</main>
