<back-component></back-component>
<h4>Your Clients</h4>
<div class="clients-list">
    <span *ngIf="!clients || clients.length == 0" class="no-clients">You currently do not have any clients assigned to you.</span>
    <div class="client-item" *ngFor="let client of clients">
        <div class="client-picture">
            <img *ngIf="client.img" src="{{client.img.url}}" alt="client.firstname" />
            <div *ngIf="!client.img" class="no-picture" ></div>
        </div>
        <div class="client-info">
            <!-- TODO: Rotue to client -->
            <span class="client-name" *ngIf="client.firstname" >{{client.firstname}} {{client.lastname}}</span>
            <span class="client-name" *ngIf="!client.firstname">No Name</span>
            <a class="client-edit" routerLink="/clients/edit/{{client._id}}">Edit</a>
        </div>
    </div>
</div>
<a class="btn btn-primary client-add" routerLink="/clients/add">Add Client</a>
