<h3>Quick Access Links</h3>
<div class="dashboard-link-container">
    <a [routerLink]="['/professional/clients']" class="dashboard-icon">
        <span>Clients</span>
        <i class="icon-users"></i>
    </a>
    <a [routerLink]="['/professional/appointments']" class="dashboard-icon">
        <span>Appointments</span>
        <i class="icon-calendar2"></i>
    </a>
    <a [routerLink]="['/professional/skills']" class="dashboard-icon">
        <span>Targets</span>
        <i class="icon-hammer"></i>
    </a>
    <a [routerLink]="['/professional/curriculums']" class="dashboard-icon">
        <span>Curriculum</span>
        <i class="icon-address-book"></i>
    </a>
    <a [routerLink]="['/professional/reports']" class="dashboard-icon">
        <span>Reports</span>
        <i class="icon-paste"></i>
    </a>
    <a *ngIf="isAdministrator" [routerLink]="['/professional/professionals']" class="dashboard-icon">
        <span>Professionals</span>
        <i class="icon-professional"></i>
    </a>
    <a *ngIf="isAdministrator" [routerLink]="['/professional/billing']" class="dashboard-icon">
        <span>Billing</span>
        <i class="icon-credit-card"></i> 
    </a>
</div>
