<h4>Add Target</h4>
<section class="form-module skill-form">
    <form class="form" [formGroup]="skillForm" (ngSubmit)="skill(skillForm.value)" novalidate>
        <div class="form-input" [ngClass]="{'error':invalidControl(skillForm.controls.targetName)}">
            <label>Target Name<span *ngIf="invalidControl(skillForm.controls.targetName)">Target Name Required</span></label>
            <input type="text" formControlName="targetName" placeholder="Target Name" required/>
        </div>
        <div class="form-input" [ngClass]="{'error':invalidControl(skillForm.controls.goalName)}">
            <label>Goal Name<span *ngIf="invalidControl(skillForm.controls.goalName)">Goal Name Required</span></label>
            <input type="text" formControlName="goalName" placeholder="Goal Name"/>
        </div>
        <div class="form-input" [ngClass]="{'error':invalidControl(skillForm.controls.stimulus)}">
            <label>Stimulus<span *ngIf="invalidControl(skillForm.controls.stimulus)">Stimulus Required</span></label>
            <input type="text" formControlName="stimulus" placeholder="Stimulus"/>
        </div>
        <div class="form-input" [ngClass]="{'error':invalidControl(skillForm.controls.numberOfTrials)}">
            <label>Number Of Trials<span *ngIf="invalidControl(skillForm.controls.numberOfTrials)">Number Of Trials Required</span></label>
            <input type="text" formControlName="numberOfTrials" placeholder="Number Of Trials" required/>
        </div>
        <div class="form-input" [ngClass]="{'error':invalidControl(skillForm.controls.targetType)}">
            <label>Target Type<span *ngIf="invalidControl(skillForm.controls.targetType)">Invalid selection</span></label>
            <select *ngIf="targetTypes" formControlName="targetType" required>
                <option value="" disabled selected>Target Type</option>
                <option *ngFor="let targetType of targetTypes" [value]="targetType._id">
                    {{targetType.name}}
                </option>
            </select>
        </div>
        <div class="form-input" *ngIf="showDtt()" [ngClass]="{'error':invalidControl(skillForm.controls.dttType)}">
            <label>Prompt Schedule<span *ngIf="invalidControl(skillForm.controls.dttType)">Invalid selection</span></label>
            <select *ngIf="dttTypes" formControlName="dttType">
                <option value="" disabled selected>Prompt Schedule</option>
                <option *ngFor="let dttType of dttTypes" [value]="dttType._id">
                    {{dttType.name}}
                </option>
            </select>
        </div>
        <div class="form-input" *ngIf="showTaskAnalysis()" [ngClass]="{'error':invalidControl(skillForm.controls.taskSteps)}">
            <label>Task Analysis Steps (separate with comma)<span *ngIf="invalidControl(skillForm.controls.taskSteps)">Task Analysis Steps Required</span></label>
            <textarea type="text" formControlName="taskSteps" placeholder="Task Analysis Steps"></textarea>
        </div>
        <div class="form-input" *ngIf="showInterval()" [ngClass]="{'error':invalidControl(skillForm.controls.interval)}">
            <label>Interval<span *ngIf="invalidControl(skillForm.controls.interval)">Interval Required</span></label>
            <input type="text" formControlName="interval" placeholder="Interval (in seconds)"/>
        </div>
        <div class="form-input" *ngIf="showMaxThreshold()" [ngClass]="{'error':invalidControl(skillForm.controls.maxThreshold)}">
            <label>Max Threshold<span *ngIf="invalidControl(skillForm.controls.maxThreshold)">Max Threshold Required</span></label>
            <input type="text" formControlName="maxThreshold" placeholder="Max Threshold"/>
        </div>
        <div class="form-input" [ngClass]="{'error':invalidControl(skillForm.controls.masteryType)}">
            <label>Mastery Type<span *ngIf="invalidControl(skillForm.controls.masteryType)">Invalid selection</span></label>
            <select formControlName="masteryType" required>
                <option value="" disabled selected>Mastery Type</option>
                <option value="1">
                    Automatic
                </option>
                <option value="2">
                    Manual
                </option>
            </select>
		</div>
        <div class="form-input" [ngClass]="{'error':invalidControl(skillForm.controls.targetInstructions)}">
            <label>Target Instructions<span *ngIf="invalidControl(skillForm.controls.targetInstructions)">Target Instructions Required</span></label>
            <textarea type="text" formControlName="targetInstructions" placeholder="Target Instructions"></textarea>
        </div>
        <div class="submit-input">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</section>
