<div class="skill-list">
    <h4 class="message-finished" *ngIf="clientCurriculum.completed">Curriculum Finished</h4>   
    <div *ngIf="clientCurriculum.curriculum.skills.length == 0" class="no-skills">
        <h4>You currently have no targets added.</h4>
    </div>
    <h4 *ngIf="clientCurriculum.curriculum.skills.length > 0 && !clientCurriculum.completed">Targets</h4>
    <div *ngIf="clientCurriculum.curriculum.skills.length > 0" class="skill-item">
        <span class="skill-name bold">Target Name</span>
        <span class="skill-target bold">Target Type</span>
    </div>
    <div class="skill-item" *ngFor="let skill of clientCurriculum.curriculum.skills">
        <span class="skill-name">{{skill.targetName}}</span>
        <span class="skill-target">{{skill.targetType.name}}</span>
        <a (click)="runSkill(skill)" *ngIf="!reachedMaximum(skill)" class="skill-start">Start</a>
        <span class="skill-completed" *ngIf="reachedMaximum(skill)">Completed</span> 
    </div>
</div>
<!-- TODO: where should we go? It's back to the dashboard for now -->
<a class="btn btn-primary btn-done" routerLink="/professional">Back To Dashboard</a>    
    