<div class="skill-list" *ngIf="!curriculum">
    <div *ngIf="skills.length == 0" class="no-skills">
        <h4>You currently have no targets added.</h4>
    </div>
    <div *ngIf="skills.length > 0">
        <h4 *ngIf="skills.length > 0">Targets</h4>
        <div *ngIf="skills.length > 0" class="skill-item">
            <span class="skill-name bold">Target Name</span>
            <span class="skill-target bold">Target Type</span>
        </div>
        <div class="skill-item" *ngFor="let skill of skills" [ngClass]="{'expanded': skill.expanded}">
            <span class="skill-name">{{skill.targetName}}</span>
            <span class="skill-target">{{skill.targetType.name}}</span>        
            <span class="skill-expand">
                <i (click)="editSkill(skill)" aria-label="edit"  class="icon icon-edit"></i>                    
                <i (click)="deleteSkill(skill)" aria-label="delete" *ngIf="showDelete" class="delete"></i>
                <i (click)="toggleSkill(skill)" aria-label="expand" class="expand"></i>
            </span>
            <div class="expand-container">
                <div class="expand-item" *ngIf="skill.goalName">
                    <span class="expand-label">Goal </span>
                    {{skill.goalName}}
                </div>
                <div class="expand-item" *ngIf="skill.stimulus">
                    <span class="expand-label">Stimulus </span>
                    {{skill.stimulus}}
                </div>
                <div class="expand-item" *ngIf="skill.numberOfTrials">
                    <span class="expand-label">Number of Trials </span>
                    {{skill.numberOfTrials}}
                </div>
                <div class="expand-item" *ngIf="skill.dttType">
                    <span class="expand-label">DTT Type </span>
                    {{skill.dttType.name}}
                </div>
                <div class="expand-item" *ngIf="skill.interval">
                    <span class="expand-label">Interval </span>
                    {{skill.interval}}
                </div>
                <div class="expand-item" *ngIf="skill.maxThreshold">
                    <span class="expand-label">Max Threshold </span>
                    {{skill.maxThreshold}}
                </div>
                <div class="expand-item" *ngIf="skill.masteryType">
                    <span class="expand-label">Mastery Type </span>
                    {{skill.masteryType}}
                </div>
                <div class="expand-item" *ngIf="skill.taskSteps">
                    <span class="expand-label">Task Steps </span>
                    {{skill.taskSteps}}
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="skill-list" *ngIf="curriculum">
    <div *ngIf="curriculum.skills.length == 0" class="no-skills">
        <h4>You currently have no targets added.</h4>
    </div>
    <div *ngIf="curriculum.skills.length > 0">
        <h4 *ngIf="curriculum.skills.length > 0">Targets</h4>
        <div *ngIf="curriculum.skills.length > 0" class="skill-item">
            <span class="skill-name bold">Target Name</span>
            <span class="skill-target bold">Target Type</span>
        </div>
        <div class="skill-item" *ngFor="let skill of curriculum.skills" [ngClass]="{'expanded': skill.expanded}">
            <span class="skill-name">{{skill.targetName}}</span>
            <span class="skill-target">{{skill.targetType.name}}</span>        
            <span class="skill-expand">
                <i (click)="deleteSkill(skill)" aria-label="delete" *ngIf="showDelete" class="delete"></i>
                <i (click)="toggleSkill(skill)" aria-label="expand" class="expand"></i> 
            </span>
            <div class="expand-container">
                <div class="expand-item" *ngIf="skill.goalName">
                    <span class="expand-label">Goal </span>
                    {{skill.goalName}}
                </div>
                <div class="expand-item" *ngIf="skill.stimulus">
                    <span class="expand-label">Stimulus </span>
                    {{skill.stimulus}}
                </div>
                <div class="expand-item" *ngIf="skill.numberOfTrials">
                    <span class="expand-label">Number of Trials </span>
                    {{skill.numberOfTrials}}
                </div>
                <div class="expand-item" *ngIf="skill.dttType">
                    <span class="expand-label">DTT Type </span>
                    {{skill.dttType.name}}
                </div>
                <div class="expand-item" *ngIf="skill.interval">
                    <span class="expand-label">Interval </span>
                    {{skill.interval}}
                </div>
                <div class="expand-item" *ngIf="skill.maxThreshold">
                    <span class="expand-label">Max Threshold </span>
                    {{skill.maxThreshold}}
                </div>
                <div class="expand-item" *ngIf="skill.masteryType">
                    <span class="expand-label">Mastery Type </span>
                    {{skill.masteryType}}
                </div>
                <div class="expand-item" *ngIf="skill.taskSteps">
                    <span class="expand-label">Task Steps </span>
                    {{skill.taskSteps}}
                </div>
            </div>
        </div>    
    </div>
</div>
<a *ngIf="!curriculum" class="btn btn-primary btn-add" routerLink="/professional/skills/add">Add Target</a>
