calendar-component, client-calendar-component {
    width: (100% * 2 / 3);
    font-size: px-to-rem(18px);
    .appointment-container{
        display: flex;
    }
    h3{
        margin-bottom: 0;
        text-align: center;
        font-size: px-to-rem(22px);
        display: block;
        margin-bottom: px-to-rem(20px);
        &:after{
            clear: both; 
        }        
    }
    .calendar{
        //width: (100% / 3);
        width: 40%;
        display: inline-block;
        margin-bottom: px-to-rem(20px);
    }
    .previous-button{
        float: left;
        background-color: $color-green;
    }
    .next-button{
        float: right;
        background-color: $color-green;
    }
    @include bp-max($bp-between){
        width: 100%;
        .calendar{
            width: 100%;
        }
        .appointment-container{
            flex-wrap: wrap;
        }
    }
}
