curriculums-component{
    width: 66%;
    .curriculum-container{
        display: flex;
        router-outlet{
            width: 0;
        }
    }
    @include bp-max($bp-between){
        width: 100%;
        .curriculum-container{
            flex-wrap: wrap;
        }
    }
}
