.dashboard-module{
    padding: px-to-rem($site-padding-desktop);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    back-component, client-back-component{
        margin-bottom: px-to-rem(20px);
        display: block;
    }
    .back-btn{
        i{
            display: inline-block;
            margin-right: px-to-rem(8px);
        }
    }
    @include bp-max($bp-between){
        padding: px-to-rem($site-padding-between);
        padding-top: ($header-height-between + $site-padding-between);
    }
}
