.flyout-menu{
    background-color: $color-blue;
    color: $color-white;
    position: fixed;
    left:-100%;
    top: 0;
    height: 100vh;
    $transition-duration: 0.4s;
    min-width: 400px;
    transition: left $transition-duration ease-in-out;
    &.show{
        left: 0;
    }
    ul{
        position: absolute;
        padding: ($header-height) $site-padding-desktop $site-padding-desktop;
        font-size: $base-font-size * 2.5;
        height: calc(100% - #{$header-height} - #{$site-padding-desktop});
        width: calc(100% - 2 * #{$site-padding-desktop});
        li{
            margin-bottom: px-to-rem(12px);
            color: $color-white;
        }
        a{
            @include link-transition($color-white, $color-red);
            font-family: $font-family-sans-serif;      
        }
    }
}
