skill-form {
    //width: (100%*2) / 3;
    width: 60%;
    h4{
        text-align: center;
    }
    $form-padding: 30px;
    .form-module{
        margin: 0 auto;
        .form{
            padding: $form-padding;
            width: calc(100% - #{$form-padding}*2);
            margin-top: 0;
        }
        .form-input{
        }
    }
    @include bp-max($bp-between){
        width: 100%;
    }
}
