skill-list{
    min-width: 50%;    
    @include bp-max($bp-between){
        width: 100%;
    }
}
.skill-list {
    margin-bottom: px-to-rem(40px);
    $input-checkbox-size: 40px;
    .skill-item{
        display: flex;
        flex-wrap: wrap;
        padding: px-to-rem(10px);
        &:nth-child(odd){
            background-color: $color-light-gray;
        }
        input[type="checkbox"]{
            width: px-to-rem($input-checkbox-size);
            display: inline-block;    
            text-align: left;        
        }
        span{
            &.add{
                width: px-to-rem($input-checkbox-size);
            }
            width: calc(33% - #{$input-checkbox-size});
            display: inline-block;
            &.bold{
                font-weight: bold;
            }
            &.clickable{
                cursor: pointer;
                &.active{
                    &.ascending{
                        &:after{
                            content: "\2193";
                            margin-left: px-to-rem(4px);
                        }                                
                    }
                    &:after{
                        content: "\2191";
                        margin-left: px-to-rem(4px);
                    }    
                }
            }
        }
        &.expanded{
            .expand-container{
                height: auto;
                max-height: 800px;
                margin: px-to-rem(30px) 0 0 0;
                transition: max-height 0.3s;    
            }
            .skill-expand{
                .expand{
                    &:before{
                        transform: rotate(270deg);
                    }    
                }
                .delete{
                    &:before{
                        visibility: hidden;
                        opacity: 0;                        
                    }
                }
            }
        
        }

    }
    .form-input input[type="text"]{
        box-shadow: 0px 3px 9px -2px $color-medium-gray;
        &:focus{
            box-shadow: 0px 3px 9px -2px $color-dark-blue;            
        }
    }
    .skill-expand{
        text-align: right;
        font-weight: bold;
        .expand{
            &:before{
                content: '\2716';
                transition: transform 0.3s;
                transform: rotate(45deg);
                transform-origin: center;
                display: inline-block;
                margin-left: px-to-rem(10px);
            }    
        }
        .delete{
            &:before{
                content: '\2716';
                transition: opacity 0.3s;
                display: inline-block;
                color: $color-red;
                visibility: visible;
                opacity: 1;                        
            }                
        }
        cursor: pointer;
    }
    .skill-completed{
        color: $color-green;
    }
    .expand-container{
        width: 100%;
        height: 0;
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        transition: max-height 0.3s, margin 0.3s;
    }
    .expand-item {
        width: 50%;
        display: inline-block;
        margin-bottom: px-to-rem(10px);
        .expand-label {
            display: block;
            font-weight: bold;
            width: 100%;
        }
    }

}
