alert{
    $alert-height:40px;
    $alert-font-size: $base-font-size-px;
    position: relative;
    div{
        visibility: hidden;
        opacity: 0;
        top: -100%;
        transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, top 0.4s ease-in-out;
        &.alert{
            visibility: visible;
            opacity: 1;
            position: fixed;
            height: $alert-height;
            top:0;
            left:0;
            color: $color-white;
            width: 100%;
            text-align: center;
            z-index: 1000;
            line-height: $alert-height;
            transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, top 0.4s ease-in-out;
        }
        &.alert-danger{
            background-color: $color-red;
        }
        &.alert-warning{
            background-color: $color-yellow;
        }
        &.alert-success{
            background-color: $color-blue;
        }
    }

    .close{
        position: absolute;
        right: 20px;
        cursor: pointer;
        &:before{
            content:'✖';
        }
    }
}
