<div class="skills-list">
    <h4>Curriculum Status</h4>
     <!-- <div class="skills-item" *ngFor="let skill of clientCurriculum.curriculum.skills">
        {{skill.name}}
    </div>  -->
</div>
<div class="data-collection">
    <h4>{{currentSkill.name}}</h4>
    <div class="input-section">
        <anecdotal-component [skill]="currentSkill" [clientCurriculum]="clientCurriculum" (goToNextSkill)="nextSkill($event)" (goToSkillList)="skillList($event)" *ngIf="isTargetType('anecdotal')" class="skill-input anecdotal">
        </anecdotal-component>
        <dtt-component [skill]="currentSkill" [dttTypes]="dttTypes" [clientCurriculum]="clientCurriculum" (goToNextSkill)="nextSkill($event)" (goToSkillList)="skillList($event)" *ngIf="isTargetType('dtt')" class="skill-input dtt">
        </dtt-component>
        <duration-component [skill]="currentSkill" [clientCurriculum]="clientCurriculum" (goToNextSkill)="nextSkill($event)" (goToSkillList)="skillList($event)" *ngIf="isTargetType('duration')" class="skill-input duration">

        </duration-component>
        <echoic-component [skill]="currentSkill" [clientCurriculum]="clientCurriculum" (goToNextSkill)="nextSkill($event)" (goToSkillList)="skillList($event)" *ngIf="isTargetType('echoic')" class="skill-input echoic">

        </echoic-component>
        <rate-component [skill]="currentSkill" [clientCurriculum]="clientCurriculum" (goToNextSkill)="nextSkill($event)" (goToSkillList)="skillList($event)" *ngIf="isTargetType('Fluency/Rate')" class="skill-input rate">
        </rate-component>
        <frequency-component [skill]="currentSkill" [clientCurriculum]="clientCurriculum" (goToNextSkill)="nextSkill($event)" (goToSkillList)="skillList($event)"  *ngIf="isTargetType('Frequency')" class="skill-input frequency">
            
        </frequency-component>
        <!-- we aren't doing jump-to...Beth says it's unnecessary -->
        <!-- <div *ngIf="isTargetType('Jump To')" class="skill-input anecdotal">
            Jump To
        </div> -->
        <quantity-component [skill]="currentSkill" [clientCurriculum]="clientCurriculum" (goToNextSkill)="nextSkill($event)" (goToSkillList)="skillList($event)"  *ngIf="isTargetType('Quantity')" class="skill-input quantity">
        </quantity-component>
        <task-analysis-component [skill]="currentSkill" [clientCurriculum]="clientCurriculum" (goToNextSkill)="nextSkill($event)" (goToSkillList)="skillList($event)"  *ngIf="isTargetType('Task Analysis')" class="skill-input task-analysis">
        </task-analysis-component>
        <whole-interval-component [skill]="currentSkill" [clientCurriculum]="clientCurriculum" (goToNextSkill)="nextSkill($event)" (goToSkillList)="skillList($event)"  *ngIf="isTargetType('Whole/Partial Interval')" class="skill-input whole-interval">
        </whole-interval-component>
    </div>
</div>
