.rich-text {
	@include font-sans-serif(22px);
	p {
		margin: 1em 0;
		@include font-sans-serif(22px);
	}

	> * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
	ul,ol{
		padding: 0 0 0 20px;
		li{
			margin-bottom: px-to-rem(10px);
		}

	}
	@include bp-max($bp-mobile) {
		font-size: 1em;
	}
}
