// Font Sizes
$base-font-size: 1rem;
$base-font-size-px: 16px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$header-height: 80px;

//small-spacing
$default-spacing: 10px;
$base-border: solid 1px $color-blue;
$section-spacing: 60px;
$form-padding:20px;

//widths
$max-button-width:300px;

//z-indexes
$z-index-header: 100;

$site-padding-desktop: 60px;
