<main class="add-client">
    <section class="detail-hero" >
        <div class="hero-tint">
        </div>
        <div class="hero-text-content">
            <h1>Create Client</h1>
        </div>
    </section>
    <section class="form-module client-form">
        <a routerLink="/professional/links" class="btn btn-primary btn-back">Back To Dashboard</a>
        <p>
            As you create the client, a client will automatically be added for the client.  You should pass along the email address provided to the client so that they can login and update the appropriate fields.
        </p>
        <form class="form" [formGroup]="clientForm" (ngSubmit)="client(clientForm.value)" novalidate>
            <div class="form-input">
                <label>First Name</label>
                <input type="text" formControlName="firstname" placeholder="First Name"/>
            </div>
            <div class="form-input">
                <label>Last Name</label>
                <input type="text" formControlName="lastname" placeholder="Last Name"/>
            </div>
            <div class="form-input" [ngClass]="{'error':invalidControl(clientForm.controls.email)}">
                <label>Email<span *ngIf="invalidControl(clientForm.controls.email)">Invalid Email</span></label>
                <input type="text" formControlName="email" placeholder="Email"/>
            </div>
            <div class="form-input" [ngClass]="{'error':invalidControl(clientForm.controls.birth)}">
                <label>Date of Birth<span *ngIf="invalidControl(clientForm.controls.birth)">Invalid Date</span></label>
                <input type="date" formControlName="birth" placeholder="Date of Birth (MM/dd/yyyy)"/>
            </div>
            <div class="form-input" [ngClass]="{'error':invalidControl(clientForm.controls.sex)}">
                <label>Sex<span *ngIf="invalidControl(clientForm.controls.sex)">Invalid selection</span></label>
                <select formControlName="sex">
                    <option value="" disabled selected>Sex</option>
                    <option value="male">
                        Male
                    </option>
                    <option value="female">
                        Female
                    </option>
                </select>
            </div>
            <div class="form-input" [ngClass]="{'error':invalidControl(clientForm.controls.insurance)}">
                <label>Insurance<span *ngIf="invalidControl(clientForm.controls.insurance)">Invalid insurance type</span></label>
                <input type="text" formControlName="insurance" placeholder="Insurance"/>
            </div>
            <div class="form-input auto-complete" *ngIf="isAdministrator">
                <label>Professional</label>
                <input type="hidden" formControlName="professional"/>
                <div class="autocomplete-container">
                    <input type="text" formControlName="keyword" (keyup)="search()" placeholder="Search for Professional Name"/>
                    <div class="autocomplete-drop-down" *ngIf="searchResults && searchResults.length > 0">
                        <div class="drop-down-item" (click)="selectProfessional(result)" *ngFor="let result of searchResults">
                            {{result.firstname}} {{result.lastname}}                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-input">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </section>
</main>
