<main class="professional-dashboard">
    <!-- <section class="detail-hero" style="background-image:url('/images/home-img.jpg')"> -->
    <section class="detail-hero" >
        <div class="hero-tint">
        </div>
        <div class="hero-text-content">
            <h1>Your Dashboard</h1>
        </div>
    </section>
    <section class="dashboard-module">
        <profile-component class="dashboard-tile profile-tile" *ngIf="professional" [profile]="professional">
        </profile-component>
        <router-outlet></router-outlet>
    </section>
</main>
